<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<div class="content">
		<section>
			<table class="table table-bordered tbl_Form">
				<colgroup>
                    <col style="width:10%;" /><col style="width:23%;" /><col style="width:10%;" /><col style="width:23%;" />
                </colgroup>
                <tbody>
                	<tr>
                        <th scope="row">글 유형</th>
                        <td></td>
                        <th scope="row">등록일</th>
                        <td></td>
                    </tr>
                </tbody>
			</table>
		</section>
	</div>
</div>
</html>